body {
    overflow: hidden;
}

html,
body,
.container {
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

@font-face {
    font-family: 'apple';
    src: url(../fonts/);
}

.container {
    width: 110vw;
    position: relative;
    overflow-y: scroll;
}

.container__header {
    width: 100vw;
    position: fixed;
    top: 0px;
    background-color: none;
    transition-property: background-color;
    transition-duration: 400ms;
}

.header {
    display: flex;
    width: 1320px;
    height: 120px;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
}
.header__active {
    background-color: rgba(0, 0, 0, 0.80);
    transition-property: background-color;
    transition-duration: 200ms;
}

.header__shop {
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.section {
    width: 100vw !important;
    height: 100vh;
    color: white;

}
#container__section__1{
    background-position: center;
    transition: background-image .5s ease;
    box-shadow: inset 0 0 0 2000px rgb(0 0 0 / 60%);
}
#container__section__2 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0)30%, rgba(102,102,102,1) 100%), url(../img/scroll_back03.jpg);
    box-shadow:
    inset 0 -20em 20em rgba(0,0,0,0.6),
            0 0 0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
    background-position: center;
}

.section__1 {
    width: 1320px;
    padding-top: 123px;
    margin: 0px auto;
    font-size: 38px;
}

.head__text {
    margin: 0px;
}

.head__text__sub {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 20px;
}

.head__sub__link {
    text-decoration: underline;
}
.head__box__columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 36px;
    padding-bottom: 44px;
    margin-top: 30px;
}
.head__box__columns img{
    width: 16px;
    height: 16px;
}
.section__head__box {
    background-color: rgba(0, 0, 0, 0.603);
    margin-top: 15%;
    height: 254px;
}
.section__head__box h3{
    position: relative;
    top: -35px;
    margin: 0px;
    left: 36px;
}
.head__column__black{
    width: 160px;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.70);
    font-size: 22px;

}
.head__column_text {
    height: 46px;
    font-size: 18px;
    margin-top: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.head__box__columns img {
    position: relative;
    top: -24px;
}
.head__column_text a{
    text-decoration: underline;
    color: blue;
}
.head__column_text {
    line-height: 17px;
}
.head__column_text svg {
    position: relative;
    right: 183px;
    animation:blink 1s ease-in-out infinite alternate;
    transition-property: all;
    transition-duration: 200ms;
}

@keyframes blink{
    0% {
        opacity: 30%;
    }
    100%{
        opacity: 100%;
    }
}
.section__head__info {
    width: 524px;
    margin-left: auto;
    display: flex;
    height: 24px;
    font-size: 18px;
    justify-content: space-between;
}
.section__2{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section__2__maintext{
    text-align: center;
}
.section__2__maintext h2 {
    font-size: 56px;
    margin: 10px 0px;
}
.section__2__maintext div{
    font-size: 22px;
    line-height: 15px;
}
.section__2__click {
    position: absolute;
    bottom: 5%;
    font-size: 22px;
    text-align: center;
    animation:  motion 1s ease-in-out 0s infinite alternate;
}
@keyframes motion{
    0% {
        bottom : 8%;
    }
 
    100% {
        bottom: 5%;
    }
}
.section__2__click img{
    margin-top: 15px;
}