body {
    overflow: hidden;
}
@font-face {
    font-family: 'neoh';
    src: url(../fonts/AppleSDGothicNeoH.ttf);
}
@font-face {
    font-family: 'neom';
    src: url(../fonts/AppleSDGothicNeoM.ttf);
}
@font-face {
    font-family: 'neor';
    src: url(../fonts/AppleSDGothicNeoR.ttf);
}
@font-face {
    font-family: 'neob';
    src: url(../fonts/AppleSDGothicNeoB.ttf);
}
@font-face {
    font-family: 'neoeb';
    src: url(../fonts/AppleSDGothicNeoEB.ttf);
}
@font-face {
    font-family: 'neoel';
    src: url(../fonts/AppleSDGothicNeoL.ttf);
}

html,
body,
.container {
    width: 100vw;
    height: 100vh;
    margin: 0px;
}
.container {
    width: 110vw;
    position: relative;
    overflow-y: scroll;
}
/* header s */

.container__header {
    font-family: 'neom';
    width: 100vw;
    position: fixed;
    top: 0px;
    background-color: none;
    transition-property: background-color;
    transition-duration: 400ms;
    z-index: 4;
}

.header {
    display: flex;
    width: 1320px;
    height: 120px;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
}
.header__active {
    background-color: rgba(0, 0, 0, 0.80);
    transition-property: background-color;
    transition-duration: 200ms;
}

.header__shop {
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: white;
}
/* header e */
/* section 1 s */
.section {
    width: 100vw;
    height: 100vh;
    color: white;
    background-position: center center;

}
#container__section__1{
    transition: background-image .5s ease;
    box-shadow: inset 0 0 0 2000px rgb(0 0 0 / 60%);
}
.section__1 {
    width: 1320px;
    padding-top: 123px;
    margin: 0px auto;
    font-size: 38px;
}

.head__text {
    margin: 0px;
    font-family: 'neoh';
}

.head__text__sub {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 20px;
    font-family: 'neor';
}

.head__sub__link {
    text-decoration: underline;
}
.head__box__columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 36px;
    padding-bottom: 44px;
    margin-top: 30px;
}
.head__box__columns img{
    width: 16px;
    height: 16px;
}
.section__head__box {
    background-color: rgba(0, 0, 0, 0.603);
    margin-top: 15%;
    height: 254px;
}
.section__head__box h3{
    position: relative;
    top: -35px;
    margin: 0px;
    left: 36px;
    font-family: 'neoeb';
}
.head__column__black{
    width: 160px;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.70);
    font-size: 22px;
    font-family: 'neob';

}
.head__column_text {
    height: 46px;
    font-size: 18px;
    margin-top: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'neor';
}
.head__box__columns img {
    position: relative;
    top: -24px;
}
.head__column_text a{
    text-decoration: underline;
    color: blue;
}
.head__column_text {
    line-height: 17px;
}
.head__column_text svg {
    position: relative;
    right: 183px;
    animation:blink 1s ease-in-out infinite alternate;
    transition-property: all;
    transition-duration: 200ms;
}

@keyframes blink{
    0% {
        opacity: 30%;
    }
    100%{
        opacity: 100%;
    }
}
.section__head__info {
    width: 524px;
    margin-left: auto;
    display: flex;
    height: 24px;
    font-size: 18px;
    justify-content: space-between;    
    font-family: 'neor';
}
/* section_1 e */

/* section_2 s */
#container__section__2 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0)30%, rgba(102,102,102,1) 100%), url(../img/scroll_back03.jpg);
    box-shadow:
    inset 0 -20em 20em rgba(0,0,0,0.6),
            0 0 0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.section__2{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section__2__maintext{
    text-align: center;
}
.section__2__maintext h2 {
    font-size: 56px;
    margin: 10px 0px;
    font-family: 'neoh';
    font-weight: lighter;
}
.section__2__maintext div{
    font-size: 22px;
    line-height: 22px;
    font-family: 'neor';
}
.section__2__click {
    position: absolute;
    bottom: 5%;
    font-size: 22px;
    text-align: center;
    animation:  motion 1s ease-in-out 0s infinite alternate;
    cursor: pointer;
    font-family: 'neoeb';
}
@keyframes motion{
    0% {
        bottom : 8%;
    }
 
    100% {
        bottom: 5%;
    }
}
.section__2__click img{
    margin-top: 15px;
}

/* section_2 e */
#container__section__3{
    background-image: url(../img/scroll_back01.jpg);
}

#container__section__4 {
    background-image: url(../img/scroll_back02.jpg);
    background-position-y: 80%;
}
#container__section__5 {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.section__5 {
    width: 748px;
    height: 86.2vh;
    background-position: center;
    background-size: cover;
    padding-top: 130px;
    box-shadow: inset 0 0 0 2000px rgb(0 0 0 / 60%);
    font-family: 'neor';
}
.section__5__left {
    background-image: url(../img/slice_back01.jpg);
}
.section__5__middle {
    background-image: url(../img/scroll_back03.jpg);
    transform: skewX(-11deg);
    width: 747px;
    position: absolute;
    left: 27%;
}
.middle__5__text {
    transform: skewX(11deg);
    margin-top: 33%;
    margin-left: 120px;
}
.left__5__text{
   margin-left: 60px;
}
.right__5__text {
    margin-top: 66%;
    margin-left: 160px;
}
.section__5__right {
    background-image: url(../img/slice_back03.jpg);
}
.section__5 h2 {
    font-size: 57px;
    margin: 0;
    font-family: 'neoh';
}
.section__5 p {
    font-size: 17px;
    margin: 0;
}
.section__5__find__more {
    margin-top: 33px;
    border: 1px solid white;
    width: 150px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* section 6 */
#container__section__6 {
    background-image: url(../img/brand_back01.jpg);
    box-shadow: inset 0 0 0 2000px rgb(0 0 0 / 60%);
    z-index: 2;
}
.section__6 {
    width: 1320px;
    padding-top: 123px;
    margin: 0px auto;
    font-family: 'neor';
}
.section__6__text {
    margin-top: 70px;
    font-size:64px;
    margin-bottom: 0;
    font-family: 'neor';
}
.section__6__sub__text {
    font-size: 20px;
}
.brand__img__zone {
    display: flex;
    flex-wrap: wrap;
    margin-top: 75px;
}
.brand__img {
    width: 200px;
    height: 60px;
    margin-right: 25px;
    margin-bottom: 25px;
    background-color: white;
    text-align: center;
    display: flex;
    align-items: center;
}
.brand__img img {
    width: 90px;
    margin: auto auto;
}
.find__more {
    background-color: blue;
    color: white;
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

/* section 7 */

#container__section__7 {
    background-image: url(../img/footer__backgroun01.png);
    background-size: cover;
    box-shadow:
    inset 0 -20em 20em rgba(0,0,0,0.6),
            0 0 0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
    position: relative;
}
.select__box {
    position: absolute;
    bottom: 6%;
    right: 20%;
    font-family: 'neol';    
}
.option__box {    
    width: 180px;
    height: 40px;
    padding: 0px 20px;
    border: none;
    background-color: rgb(255 255 255 / 10%);
    color: white;
    display: flex;
    align-items: center;
    border-top: .5px solid white;
    border-bottom: .5px solid white;
}
.option__box img {
    margin-left: auto;
}
#option__boxs {
    border: 1px solid white;
    border-radius: 10px;
    opacity: 0;
    transition: all .5s ease;
}
.option__s{
    border: none;
}
#option__main {
    border: none;
    border-radius: 10px;
    width: 183px;
    cursor: pointer;
}
.option__active {
    opacity: 1 !important;
}