body, html , .container{
    width: 900vw;
}
.always {
    background-color: rgba(0, 0, 0, 0.80) !important;
}
.header{
    width: 80vw;
}
.section{
    background-size: cover;
    background-position: center center;
    width: 100vw;
    background-repeat: no-repeat;

}
.section__1 {
    width: 100vw;
}
#container__section__1{
    height: 1360px !important;
    position: relative;
}
.section__head__text {
    width: 80vw;
    margin: 0 auto;
    height: 360px;
    margin-top: 20px;
}
.head__text__box {
    height: 192px;
}
.head__sub__text {
    height: 84px;
    margin-bottom: 15px;
}
.head__text {
    font-size: 32px;
}
.head__text__sub {
    display: block;
    font-size: 16px;
}
.section__head__box {
    width: 80vw;
    height: 760px;
    margin: 0px auto;
    margin-top: 30px;
}
.head__box__columns {
    display: block;
    margin-top: 0px;
}
.off {
    width: 10px;
    opacity: 0;
}
.head__box__columns img{
    top: -10px;
    left: 60px;
    transform: rotate(90deg);
}
.head__column__black {
    width: 150px;
    margin-right: 10px;
}
.head__columns__column {
    display: flex;
}
.head__column_text{
    font-size: 13px;
    margin-left: auto;
    width: 120px;
}
.head__column__black {
    font-size: 16px;
}
.section__head__box h3 {
    left: 55px;
    top: -20px;
    font-size: 30px;
}
#container__section__2 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0)30%, rgba(102,102,102,1) 100%), url(../img/scroll_back03.jpg);
    box-shadow:
    inset 0 -20em 20em rgba(0,0,0,0.6),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.section__2__maintext {
    width: 360px;
}
.section__2__maintext h2{
    font-size: 35px;
}
.section__2__maintext div{
    font-size: 15px;
    line-height: 16px;
}
.head__column_text a{
    color: rgb(0, 89, 255);
}
.section__head__info {
    display: block;
    position: relative;
    text-align: center;
    width: 100vw;
    top: -10vh;
}
#container__section__3,#container__section__4 {
    display: none;
}
.section__5 {
    width: 100vw;
    height: 35vh;
    padding-top: 0%;
} 
#container__section__5 {
    display: block;
}
.section__5__middle{
    transform: none;
    position: unset;
}
.section__5__left {
    background-image: url(../img/slice_back01.jpg);
    background-position:center;
}
.left__5__text {
    top: 10%;
    left: 5%;
}
.middle__5__text {
    transform: none;
    left: 5%;
}
.right__5__text {
    left: 5%;
    bottom: 2%;
}
.section__5__middle {
    position: unset;
}
.section__5__find__more{
    margin-top: 33px;
    width: 133px;
}
.section__6 {
    width: 360px;
    padding-top: 30px;
    margin: 0px auto;
    text-align: center;
}
.section__6__text {
    font-size: 32px;
}
#container__section__6{
    height: 130vh;
}
.brand__img {
    width: 155px;
    margin-right: 12.5px;
    margin-left: 12.5px;
    margin-bottom: 15px;
}
.brand__img__zone{
    margin: 0px auto;
    text-align: center;
}
.find__more {
    width: 150px;
    margin-left: 12.5px;
}
#container__section__7 {
    background-image: url(../img/footer_mobile.jpg);
    background-size: cover;
    background-position: 0 0;
    position: relative;
    height: 850px;
}
.select__box {
    position: absolute;
    bottom: 2%;
    left: 40px;
    font-family: 'neol';    
}

.section__5 h2 {
    font-size: 32px;
    font-weight: lighter;
    font-family: 'neoh';
}
.section__5 p {
    font-size: 15px;
    margin: 0;
} 
#option__boxs {
    border-radius: 10px;
    opacity: 0;
    transition: all .5s ease;
    width: 140px;
    font-size: 13px;
    font-weight: lighter;
    border: none;
}
.option__box {    
    width: 103px;
    height: 30px;
    padding: 0px 20px;
    border: none;
    background-color: #222222;
    color: white;
    display: flex;
    align-items: center;
    border-top: .5px solid white;
    border-bottom: .5px solid white;
}
.option__mobile__top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
}
.option__mobile__top img{
    width: 5px;
    height: 5px;
}
.option__mobile__bottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
}
#option__main {
    border: .5px rgba(255, 255, 255, 0.486) solid;
    border-radius: 10px;
    width: 103px;
    cursor: pointer;
    font-size: 13px;
    font-weight: lighter;
    background-color: rgba(255, 255, 255, 0.048);
}
@media screen and (max-width : 360px) {
    #container__section__7 {
        background-image: url(../img/footer_mobile.jpg);
        background-size: cover;
        background-position: 0% 0%;
        position: relative;
        height: 750px;
    }
}