body{
    overflow: hidden;
}
body,html{
    width: 100vw;
    margin: 0px;
}
.container
{
    width: 110vw;
    overflow-y: scroll;
    height: 100vh;
}
.container__content {
    width: 100vw;
    height: 100vh;
}